<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tpla.android_oauth_flickr" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".FlickrClientApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="damn"
                    android:scheme="oauth" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainInterface"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".ViewImage2"
            android:label="@string/title_activity_view_image2" >
        </activity>
        <activity
            android:name=".ViewImage"
            android:label="ViewImage" >
        </activity>
        <activity
            android:name=".ViewImage3"
            android:label="@string/title_activity_view_image3" >
        </activity>
    </application>

</manifest>
